.about-us__block {
    margin-bottom: 2em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.about-us__block *,
.about-us__block-principal * {
    margin-bottom: 1em;
}

.about-us__title {
    background: var(--clr-primary);
    padding: .5em;
    width: 65%;
}

.about-us__img {
    order: -1;
    margin: auto;
}

.about-us__img * {
    width: 100%;
}