body {
    margin:  50px 80px;
    max-width: 100%;
    box-sizing: border-box;
}

h1 {
    font-size: 2.5em;
}
  
h2 {
    font-size: 2.1em;
}

h3 {
    font-size: 1.934em;
}
  
h4 {
    font-size: 1.754em;
}

h5 {
    font-size: 1.5em;
}

p {
    font-size: 0.875em;
    margin:  10px 0;
}


.title__title{
    font-size: 52px;
    color:  --clr-black;
    margin:  20px 0px 5px 0px;
}

.typography__title {
    font-weight: bold;
    font-size: 1.5em;
}

.section .title {
    display: inline-block;
    margin: 1em 0;
}

.title__paragraf {
    font-size: 1.2em;
    margin: 20px 0px;
}

.subtitle__title {
    font-size: 1.934em;
}

.section__paragraph {
     margin:  30px 0;
}

.paragraph__title, 
.paragraph__subtitle {
    margin:  10px 0;
    font-size: 1.5em;
}

.links__anchor-inactive, 
.links__anchor {
    color: var(--clr-black);
    text-decoration: none;
}

.links__anchor:hover {
    color: var(--clr-primary);
}


.title__title {
    color: var(--clr-black);
    margin: 15px 0;
}

.title__subtitle {
    font-size: 22px;
}

.buttons {
    display: flex;
}

.text__light,
.text__light-italic,
.text__regular,
.text__italic,
.text__bold,
.text__bold-italic{
    font-size: 1.5em;
}

.text__italic {
    font-style: italic;
}

.text__light-italic{
    font-weight: lighter;
    font-style: italic;
}

.text__light {
    font-weight: lighter;
}

.text__light-italic {
    font-weight: lighter;
    font-style: italic;
}

.text-italic{
    font-style: italic;
}


.text__bold {
    font-weight: bold;
}

.text__bold-italic{
    font-style: italic;
    font-weight: bold;
}

.footer-icons__list,
.links__container{
    display: flex;
}


.links__item{
    margin:  0px 15px;
}
ul li {
     list-style-type:  none;
}

i.fab {
    font-size:48px;
    color:black;
    margin: 10px;
    
}

i.fab:hover {
    color: var(--clr-primary);
    cursor: pointer;
}



/* COLORS PALETA */

.cards {
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 2em;
    padding: 0;
}

.card {
    border-radius: 0.25rem;
    box-shadow: 0 20px 40px -14px rgba(0,0,0,0.25);
    display: flex;
    flex-direction: column;
    overflow: hidden;
    margin: 10px;
    padding: 70px;
}
  
.card:nth-child(1) {
    background-color: var(--clr-primary);
}

.card:nth-child(2) {
    background-color: var(--clr-secondary);
}

.card:nth-child(3) {
    background-color: var(--clr-black);
}

.card:nth-child(4) {
    background-color: var(--clr-white);
}

.card__title {
    color: var(--clr-black);
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.card__title-000{
    color: white;
    font-size: 1.25rem;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;
}

.header {
    background: var(--clr-black);
    color: var(--clr-white);
    margin-bottom: 2.5em;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 0 3vw;
    min-height: 65px;
    max-height: 70px;
}

.nav__logo-wrap {
    display: flex;
    align-items: center;
}

.nav__logo {
    height: 25px;
    width: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__link-logo {
    color: var(--clr-white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 8px;
}

.nav__productes .nav__toggle {
    margin-right: 8px;
}

.nav__toggle-item {
    background: var(--clr-white);
    display: flex;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: transform 0.5s ease;
}

header.active .nav__toggle-item {
    background: var(--clr-white);
}

.nav__toggle.active .nav__toggle-lin1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.nav__toggle.active .nav__toggle-lin2 {
    opacity: 0;
}

.nav__toggle.active .nav__toggle-lin3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav__toggle {
    cursor: pointer;
}

.nav__list {
    display: flex;
}

.nav__item {
    list-style: none;
}

.nav__link {
    padding: 15px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
}

.nav__svg {
    width: 24px;
    height: 24px;
    margin: 0;
}

.nav__title {
    display: none;
}


.nav__units {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: var(--clr-primary);
    color: var(--clr-black);
    font-weight: 700;
    margin: 0 0 0 4px;
}

.nav__link:visited {
    color: var(--clr-white);
}

.nav__link:hover {
    background: rgb(31, 31, 31);
    transition: all .3s ease;
}

.secondary-nav {
    background: var(--clr-primary);
    height: 35px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.secondary-nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 280px;
    position: fixed;
    flex-direction: column;
    left: -300px;
    top: 100px;
    color: #000;
    background-color: #FFF;
    box-shadow: 1px 1px 8px #555555;
    transition: .3s;
}

.secondary-nav__list.active {
    left: 0;
    transition: .3s;
}

.secondary-nav__item {
    list-style: none;
}

.secondary-nav__link {
    display: flex;
    align-items: center;
    color: #000;
    justify-content: flex-start;
    padding-left: 20px;
}

.secondary-nav__link:visited {
    color: #000;
}

.secondary-nav__link:hover,
.secondary-nav__link.active {
    background: var(--clr-secondary);
    transition: all .3s ease;
}

.section {
    max-width: 1600px;
}
*/


/* PRODUCT-CARDS */

.product-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    margin: 0 auto;
}

.product-card-inactive,
.product-card{
    width: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(151, 151, 151);
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
}

.product-card:hover {
    box-shadow: 4px 4px 20px rgb(151, 151, 151);
    transition: all .5s;
}

.product-card__img-wrap {
    overflow: hidden;
    margin: 0 auto;
    margin-top: 50px;
    width: 75%;
}

.product-card__img {
    width: 100%;
}


.product-card__extra-info {
    padding: 10px 12px 20px 12px;
    width: 100%;
}

.product-card__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    width: 100%;
    margin-top: 1em;
    padding: 10px 20px 20px 20px;
}

.product-card__price-rating-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
}

.product-card__price {
    font-weight: 700;
    display: flex;
}

.product-card__rating-form {
    margin: 0 auto;
}

.product-card__rating-stars {
    text-align: center;
    direction: rtl;
    unicode-bidi: bidi-override;
}

.product-card__rating-star {
    font-size: 20px;
    color: grey;
}

.product-card__rating-input {
    display: none;
}

.product-card__rating-star:hover,
.product-card__rating-star:hover~.product__rating-star {
    color: orange;
}

.product-card__rating-input:checked~.product__rating-star {
    color: orange;
}


/* NOTICIAS */

.news {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(4, 1fr);
}

.news-card-inactive,
.news-card {
    grid-column: span 4;
    border-radius: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(151, 151, 151);
    overflow: hidden;
}

.news-card:hover {
    box-shadow: 4px 4px 20px rgb(151, 151, 151);
    transition: all .5s;
    cursor: pointer;
}

.news-card__img {
    overflow: hidden;
}

.news-card__img * {
    width: 100%;
}

.news-card__text {
    padding: 10px 25px 20px 25px;
}

.news-card__text * {
    margin-top: 20px;
}

.news-card__author,
.news-card__fecha {
    display: inline;
}

.news-card__fecha::before {
    content: " - ";
}

.news-card__title {
    font-weight: 700;
    text-transform: uppercase;
}

.news-card__description {
    text-align: justify;
}



/* BUTTONS */

.btn-inactive,
.btn{
    max-width: 100%;
    width: 220px;
    height: 40px;
    cursor: pointer;
    background: var(--clr-primary);
    border-radius: 15px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-transform: uppercase;
    font-weight: 700;
}

.btn:hover {
    background: var(--clr-secondary);
    transition: all .2s;
}

.btn__link {
    text-decoration: none;
    color: #000;
    max-width: 100%;
}

.btn__scroll-up {
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 30px;
    right: 35px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    cursor: pointer;
    background: var(--clr-primary);
}

.btn__scroll-up:hover {
    opacity: 1;
    transition: all .3s;
}



/* MEDIA QUERIES */


@media (min-width: 600px) {
    /* body {
        background: green;
    } */
    .section {
        margin: 0 1.5em;
    }
    .product-cards {
        margin: 0 2em;
    }
    .news {
        margin: 0 3em;
    }
    .cart-list {
        width: 550px;
    }
    .product__section-text {
        margin: 0 auto;
    }
    .news-card {
        grid-column: span 3;
    }
    .grid-col-md-sp4 {
        grid-column: span 4;
    }
}



@media (min-width: 1200px) {
    /* body {
        background: red;
    } */
    .nav__title {
        display: inline-block;
    }
    .nav__toggle {
        display: none;
    }
    .nav__svg {
        margin: 0 8px 0 0;
    }
    .nav__units {
        margin: 0 0 0 8px;
    }
    .secondary-nav__text-mobile {
        display: none;
    }
    .secondary-nav__list {
        width: 100%;
        position: static;
        display: flex;
        flex-direction: row;
        background: transparent;
        box-shadow: none;
    }
    .secondary-nav__link {
        padding: 7px 15px;
        text-decoration: none;
        justify-content: center;
    }
    .searchbox {
        margin: auto;
        width: 30%;
    }
    .searchbox__input {
        display: block;
    }
    .searchbox__icon-search {
        border-color: #444;
    }
    
    .searchbox__icon-search:after {
        background-color: #444;
    }
    .carousel__thumbnails {
        justify-content: flex-start;
    }
    .product {
        flex-wrap: nowrap;
        margin: 0 3em;
    }
    .product__btn {
        margin: 2em 0 0 0;
    }
    .news-card {
        grid-column: span 3;
    }
    .grid-col-xl-sp2 {
        grid-column: span 3;
    }
    .grid-col-xl-sp3 {
        grid-column: span 3;
    }
    .grid-row-xl-sp2 {
        grid-row: span 2;
    }
}


