.product-cards {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 45px;
    margin: 0 auto;
}

.product-card {
    width: 350px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(151, 151, 151);
    margin-top: 1em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;
    position: relative;
}

.product-card:hover {
    box-shadow: 4px 4px 20px rgb(151, 151, 151);
    transition: all .5s;
}

.product-card__last-units {
    text-transform: uppercase;
    font-size: 0.8rem;
    padding: 3px;
    border-radius: 4px;
    margin: 15px;
    color: rgb(255, 0, 0);
    border: 1px solid rgb(255, 0, 0);
    background-color: rgb(250, 237, 237);
    margin-top: 20px;
    width: 100px;
    text-align: center;
}

.product-card__img {
    overflow: hidden;
    margin: 0 auto;
    margin-top: 25px;
    width: 75%;
}

.product-card__img * {
    width: 100%;
}

.product-card__info {
    padding: 10px 12px 20px 12px;
    width: 100%;
}

.product-card__title {
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    width: 100%;
    margin-top: 1em;
    padding: 10px 20px 20px 20px;
}

.product-card__price-rating-wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 0 auto;
    margin-top: 1em;
}

.product-card__price {
    display: flex;
}

.product-card__form {
    margin: 0 auto;
}

.product-card__stars {
    text-align: center;
    direction: rtl;
    unicode-bidi: bidi-override;
}

.product-card__star {
    font-size: 20px;
    color: grey;
}

.product-card__input {
    display: none;
}

.product-card__star:hover,
.product-card__star:hover~.product__star {
    color: orange;
}

.product-card__input:checked~.product__star {
    color: orange;
}
