@media (min-width: 300px) {

    .footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }

    .footer__contact-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        margin: 30px 0px;
        width: 100%;
    }

    .footer__map, 
    .footer__references, 
    .footer__links-wrap,
    .footer__subscribe {
        margin: 20px;
        max-width: 100%;
        box-sizing: border-box;
    }

    iframe {
        box-sizing: border-box;
        width: 100%;
    }
    .footer__list .footer__item {
        list-style-type: none;
        font-size: 20px
    }
}


@media (min-width: 600px) {
    .nav__brand-name {
        display: inline-block;
    }
    .main {
        margin: 0 auto;
    }
    .section {
        margin: 0 2.5em;
    }
    .about-us__block {
        margin-top: 3em;
    }
    .cart-list {
        width: 550px;
    }
    .product__section-text {
        margin: 0 auto;
    }
    .news-card {
        grid-column: span 2;
    }
    .grid-col-md-sp4 {
        grid-column: span 4;
    }

    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }

    .footer__contact-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        margin: 30px 0px;
        width: 100%;
    }

    .footer__map, 
    .footer__references, 
    .footer__links-wrap {
        margin: 20px;
        box-sizing: border-box;
        max-width: 100%;
    }

    iframe {
        box-sizing: border-box;
        width: 100%;
    }
    .footer__list .footer__item {
        list-style-type: none;
        font-size: 20px
    }
    .footer__subscribe {
        min-width: 90%;
    }
}

@media (min-width: 1200px) {
    .nav__title {
        display: inline-block;
    }
    .nav__toggle {
        display: none;
    }
    .nav__link {
        padding: 25px;
    }
    .nav__svg {
        margin: 0 8px 0 0;
    }
    .nav__units {
        margin: 0 0 0 8px;
    }
    .secondary-nav__text-mobile {
        display: none;
    }
    .secondary-nav__list {
        width: 100%;
        position: static;
        display: flex;
        flex-direction: row;
        background: transparent;
        box-shadow: none;
    }
    .secondary-nav__link {
        padding: 10px 15px;
        justify-content: center;
    }
    .searchbox {
        margin: auto;
        width: 30%;
    }
    .searchbox__input {
        display: block;
    }
    .searchbox__icon-search {
        border-color: #444;
    }
    .searchbox__icon-search:after {
        background-color: #444;
    }
    .carousel__thumbnails {
        justify-content: flex-start;
    }
    .product {
        flex-wrap: nowrap;
        margin: 0 3em;
    }
    .about-us {
        margin: 0 3em;
    }
    .about-us__block {
        flex-wrap: nowrap;
        justify-content: center;
        gap: 50px;
    }
    .about-us__text {
        max-width: 650px;
        text-align: justify;
    }
    .about-us__img {
        order: 0;
        margin: 0;
    }
    .product__btn {
        margin: 2em 0 0 0;
    }
    .news-card {
        grid-column: span 1;
    }
    .grid-col-xl-sp2 {
        grid-column: span 2;
    }
    .grid-col-xl-sp3 {
        grid-column: span 3;
    }
    .grid-row-xl-sp2 {
        grid-row: span 2;
    }

    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }

    .footer__contact-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-around;
        align-items: flex-start;
        align-content: flex-start;
        margin: 30px 0px;
        width: 100%;
    }

    .footer__map, 
    .footer__references, 
    .footer__links-wrap {
        margin: 20px;
        box-sizing: border-box;
        max-width: 100%;
    }

    iframe {
        box-sizing: border-box;
        width: 100%;
    }
    .footer__list .footer__item {
        list-style-type: none;
        font-size: 20px
    }
    .footer__subscribe {
        min-width: 90%;
    }
}

@media (min-width: 1870px) {
    .footer {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
    }

    .footer__contact-wrap {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: flex-start;
        align-items: flex-start;
        align-content: flex-start;
        margin: 30px 0px;
        width: 100%;
    }

    .footer__map, 
    .footer__references, 
    .footer__links-wrap {
        margin: 20px;
        box-sizing: border-box;
        max-width: 100%;
    }

    iframe {
        box-sizing: border-box;
        width: 100%;
    }
    .footer__list .footer__item {
        list-style-type: none;
        font-size: 20px
    }
    .footer__subscribe {
        min-width: 50%;
    }
}
