.news {
    display: grid;
    gap: 35px;
    grid-template-columns: repeat(4, 1fr);
}

.news-card {
    grid-column: span 4;
    border-radius: 15px;
    border-radius: 10px;
    box-shadow: 2px 2px 8px rgb(151, 151, 151);
    overflow: hidden;
}

.news-card:hover {
    box-shadow: 4px 4px 20px rgb(151, 151, 151);
    transition: all .5s;
    cursor: pointer;
}

.news-card__img {
    overflow: hidden;
}

.news-card__img * {
    width: 100%;
}

.news-card__text {
    padding: 10px 25px 20px 25px;
}

.news-card__text * {
    margin-top: 20px;
}

.news-card__author,
.news-card__fecha {
    display: inline;
}

.news-card__fecha::before {
    content: " - ";
}

.news-card__title {
    font-weight: 600;
    text-transform: uppercase;
}

.news-card__description {
    text-align: justify;
}