.product {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    margin: 0 auto;
}

.product__section-imgs {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin: auto;
    width: 100%;
    max-width: 550px;
}

.product__carrousel-slide {
    width: 55px;
    overflow: hidden;
    cursor: pointer;
}

.product__img-principal {
    width: 400px;
    height: 400px;
    overflow: hidden;
}

.product__img-principal img {
    height: 100%;
}

.product__section-text {
    max-width: 650px;
}

.product__title {
    font-size: 22px;
    text-transform: uppercase;
}

.product__category {
    font-size: 12px;
    color: grey;
}

.product__price {
    margin-top: 15px;
}

.product__color {
    margin-top: 15px;
}

.product__color-list {
    margin-top: 5px;
    display: flex;
    gap: 10px;
}

.product__color-item {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #000;
    cursor: pointer;
}

.product__color-item--vermell {
    background-color: rgb(219, 3, 3);
}

.product__color-item--verd {
    background-color: rgb(26, 143, 3);
}

.product__color-item--blau {
    background-color: rgb(23, 45, 141);
}

.product__color-item--negre {
    background-color: rgb(0, 0, 0);
}

.product__color-item--blanc {
    background-color: rgb(255, 255, 255);
}

.product__color-item--rosa {
    background-color: rgb(231, 125, 196);
}

.product__color-item--gris {
    background-color: rgb(117, 117, 117); 
}

.product__color-item--dorado {
    background-color: rgb(219, 192, 34); 
}

.product__color-item--taronja {
    background-color: rgb(252, 127, 11);
}

.product__color-item--marro {
    background-color: rgb(180, 125, 43);
}

.product__btn {
    margin: auto;
    margin-top: 2em;
}

.product__block {
    margin-top: 30px;
}

.product__subtitle {
    font-weight: 600;
    text-transform: uppercase;
}

.product__text {
    margin-top: 8px;
    text-align: justify;
}



/* 7. PRODUCT PAGE - CARROUSEL */

.carousel {
    width: 100%;
    position: sticky;
}

.carousel>input {
    clip: rect(1px, 1px, 1px, 1px);
    clip-path: inset(50%);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}


.carousel>input:nth-of-type(6):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -500%;
}

.carousel>input:nth-of-type(5):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -400%;
}

.carousel>input:nth-of-type(4):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -300%;
}

.carousel>input:nth-of-type(3):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -200%;
}

.carousel>input:nth-of-type(2):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: -100%;
}

.carousel>input:nth-of-type(1):checked~.carousel__slides .carousel__slide:first-of-type {
    margin-left: 0%;
}

.carousel__slides {
    position: relative;
    z-index: 1;
    padding: 0;
    margin: 0;
    overflow: hidden;
    white-space: nowrap;
    box-sizing: border-box;
    display: flex;
}

.carousel__slide {
    position: relative;
    display: block;
    flex: 1 0 100%;
    width: 100%;
    height: 100%;
    overflow: hidden;
    transition: all 300ms ease-out;
    box-sizing: border-box;
    white-space: normal;
}

.carousel__slide div {
    position: relative;
    width: 100%;
    transition: transform .25s ease;
}

.carousel__slide div:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 66.6666666667%;
}

.carousel__slide div>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.carousel__slide.scrollable {
    overflow-y: scroll;
}

.carousel__thumbnails {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    margin: 0 -10px;
    justify-content: center;
}

.carousel__slides+.carousel__thumbnails {
    margin-top: 20px;
}

.carousel__thumbnails li {
    flex: 1 1 auto;
    max-width: calc((100% / 6) - 20px);
    margin: 0 10px;
    transition: all 300ms ease-in-out;
}

.carousel__thumbnails label {
    display: block;
    position: relative;
}

.carousel__thumbnails label:before {
    display: block;
    content: "";
    width: 100%;
    padding-top: 100%;
}

.carousel__thumbnails label>img {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

.carousel__thumbnails label:hover,
.carousel__thumbnails label:focus {
    cursor: pointer;
}

.carousel__thumbnails label:hover img,
.carousel__thumbnails label:focus img {
    box-shadow: 0px 0px 0px 1px rgba(0, 0, 0, 0.25);
    transition: all 300ms ease-in-out;
}

.carousel__thumbnails img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
}