@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

/*  ####### INDEX GENERAL // INDICE GENERAL ####### 

                0. VARIABLES ROOT
                1. BUTTONS
                2. HEADER
                3. CART
                4. FOOTER

    ####### INDEX GENERAL // INDICE GENERAL #######  */



/* 0. VARIABLES ROOT */

:root {
    --clr-primary: #FFDC00;
    --clr-secondary: #ffbb00;
    --clr-black: #000;
    --clr-white: #FFF;
}

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

/* 1. BUTTONS */

.btn {
    max-width: 100%;
    width: 220px;
    height: 40px;
    cursor: pointer;
    background: var(--clr-primary);
    border-radius: 15px;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    text-transform: uppercase;
}

.btn:hover {
    background: var(--clr-secondary);
    color: var(--clr-black);
    transition: all .2s;
}

.btn__link {
    text-decoration: none;
    color: #000;
    max-width: 100%;
}

.btn__scroll-up {
    width: 55px;
    height: 55px;
    position: fixed;
    bottom: 30px;
    right: 35px;
    z-index: 10;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0.8;
    cursor: pointer;
    background: var(--clr-primary);
}

.btn__scroll-up:hover {
    opacity: 1;
    transition: all .3s;
}

.btn__product-list {
    width: 150px;
    height: 30px;
    margin-top: 10px;
}

.btn__product-list--delete {
    background: rgb(95, 95, 95);
    color: #FFF;
}

.btn__product-list--delete:hover {
    background: #333;
    color: #FFF;
}

button.btn-warning a {
    text-decoration: none;
    color: #000000;
}

div.alert-success,
div.alert-danger {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    margin: 30% 20%;
    font-size: 25px;
}


div.alert-success a button,
div.alert-success a button:hover {
    font-size: 30px;
    color: #0b4405;
    text-decoration: none;
}

div.alert-danger a button,
div.alert-danger a button:hover {
    font-size: 30px;
    color: #571515;
    text-decoration: none;
}




/* 2. HEADER */

.header {
    background: var(--clr-black);
    color: var(--clr-white);
    margin-bottom: 2.5em;
    position: sticky;
    top: 0;
    right: 0;
    z-index: 10;
}

.nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    margin: 0 3vw;
    min-height: 65px;
    max-height: 70px;
}

.nav__logo-wrap {
    display: flex;
    align-items: center;
}

.nav__logo {
    display: flex;
    align-items: center;
}

.nav__link-logo {
    color: var(--clr-white);
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 5px;
    height: 65px;
}

.nav__link-logo:hover {
    color: var(--clr-white);
}

.nav__link-logo img {
    height: 100%;
}

.nav__brand-name {
    display: none;
    font-weight: 700;
}

.nav__productes .nav__toggle {
    margin-right: 8px;
}

.nav__toggle-item {
    background: var(--clr-white);
    display: flex;
    width: 25px;
    height: 3px;
    margin: 5px;
    transition: transform 0.5s ease;
}

header.active .nav__toggle-item {
    background: var(--clr-white);
}

.nav__toggle.active .nav__toggle-lin1 {
    transform: rotate(-45deg) translate(-5px, 6px);
}

.nav__toggle.active .nav__toggle-lin2 {
    opacity: 0;
}

.nav__toggle.active .nav__toggle-lin3 {
    transform: rotate(45deg) translate(-5px, -6px);
}

.nav__toggle {
    cursor: pointer;
}

.nav__list {
    display: flex;
}

.nav__item {
    list-style: none;
}

.nav__link {
    padding: 8px;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--clr-white);
}

.nav__svg {
    width: 24px;
    height: 24px;
    margin: 0;
}

.nav__title {
    display: none;
}

.nav__units {
    font-size: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    width: 18px;
    height: 18px;
    background: var(--clr-primary);
    color: var(--clr-black);
    margin: 0 0 0 4px;
}

.nav__link:visited {
    color: var(--clr-white);
}

.nav__link:hover {
    background: rgb(31, 31, 31);
    transition: all .3s ease;
    color: var(--clr-white);
}

.searchbox {
    position: relative;
    padding: 0;
    margin-top: 3px;
    border: 0;
    height: 35px;
    width: 60px;
    display: flex;
    align-items: center;
    border: 1px solid transparent;
    margin-left: auto;
}

.searchbox__icons-container {
    position: absolute;
    top: 0px;
    right: 8px;
    width: 35px;
    height: 35px;
    overflow: hidden;
}

.searchbox__icon-close {
    position: absolute;
    top: 2px;
    left: 2px;
    width: 75%;
    height: 75%;
    opacity: 0;
    cursor: pointer;
    transform: translateX(-200%);
    border-radius: 50%;
    transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.searchbox__icon-close .x-up {
    position: relative;
    width: 100%;
    height: 50%;
}

.searchbox__icon-close .x-up:before {
    content: "";
    position: absolute;
    bottom: 1px;
    left: 8px;
    width: 35%;
    height: 2px;
    background-color: #555555;
    transform: rotate(45deg);
}

.searchbox__icon-close .x-up:after {
    content: "";
    position: absolute;
    bottom: 1px;
    right: 2px;
    width: 35%;
    height: 2px;
    background-color: #555555;
    transform: rotate(-45deg);
}

.searchbox__icon-close .x-down {
    position: relative;
    width: 100%;
    height: 50%;
}

.searchbox__icon-close .x-down:before {
    content: "";
    position: absolute;
    top: 4px;
    left: 7px;
    width: 43%;
    height: 2px;
    background-color: #555555;
    transform: rotate(-45deg);
}

.searchbox__icon-close .x-down:after {
    content: "";
    position: absolute;
    top: 5px;
    right: 2px;
    width: 35%;
    height: 2px;
    background-color: #555555;
    transform: rotate(45deg);
}

.searchbox__icon-search {
    position: relative;
    top: 8px;
    left: 8px;
    width: 35%;
    height: 35%;
    opacity: 1;
    border-radius: 50%;
    border: 2px solid #FFF;
    transition: opacity 0.25s ease, transform 0.43s cubic-bezier(0.694, 0.048, 0.335, 1);
}

.searchbox__icon-search:after {
    content: "";
    position: absolute;
    bottom: -7px;
    right: -4px;
    width: 2px;
    border-radius: 3px;
    transform: rotate(-45deg);
    height: 8px;
    background-color: #FFF;
}

.searchbox__input {
    border: 0;
    width: 100%;
    height: 30px;
    padding: 10px 15px;
    background: var(--clr-white);
    border-radius: 3px;
    box-shadow: 2px 3px 5px rgba(75, 72, 72, 0.1);
    transition: all 0.4s ease;
    border-radius: 25px;
    border: 1px solid rgba(53, 52, 52, 0.3);
    display: none;
}

.searchbox__input:focus {
    outline: none;
    box-shadow: 0px 3px 10px rgba(75, 72, 72, 0.3);
}

.searchbox__input:focus+.searchbox__icons-container .searchbox__icon-close {
    opacity: 1;
    transform: translateX(0);
}

.searchbox__input:focus+.searchbox__icons-container .searchbox__icon-search {
    opacity: 0;
    transform: translateX(200%);
}

.secondary-nav {
    background: var(--clr-primary);
    height: 35px;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
}

.secondary-nav__list {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    width: 280px;
    position: fixed;
    flex-direction: column;
    left: -300px;
    top: 100px;
    color: #000;
    background-color: #FFF;
    box-shadow: 1px 1px 8px #555555;
    transition: .3s;
}

.secondary-nav__list.active {
    left: 0;
    transition: .3s;
}

.secondary-nav__item {
    list-style: none;
}

.secondary-nav__link {
    text-decoration: none;
    display: flex;
    align-items: center;
    color: var(--clr-black);
    justify-content: flex-start;
    padding: 10px;
    padding-left: 20px;
}

.secondary-nav__link:visited {
    color: var(--clr-black);
}

.secondary-nav__link:hover,
.secondary-nav__link.active {
    background: var(--clr-secondary);
    color: var(--clr-black);
    transition: all .3s ease;
}

.main {
    max-width: 1600px;
    margin: 0 2em;
}


/* 3. CART */

.cart-list {
    max-height: 90%;
    position: fixed;
    top: 0;
    right: -605px;
    z-index: 20;
    display: flex;
    flex-direction: column;
    padding-top: 60px;
    background-color: var(--clr-white);
    box-shadow: 3px 3px 15px #555454;
    overflow-x: hidden;
    transition: 0.5s;
    opacity: 0.8;
    width: 100%;
}

.cart-list.active {
    right: 0px;
    opacity: 1;
}

.cart-list__list {
    overflow: hidden;
    overflow-y: scroll;
}

.cart-list__close {
    padding: 8px;
    font-size: 65px;
    color: #818181;
    text-decoration: none;
    transition: 0.3s;
    position: absolute;
    top: -15px;
    right: clamp(10px, 3%, 25px);
}

.cart-list__close:hover {
    color: var(--clr-black);
}

.cart-list__product {
    display: flex;
    padding: 15px;
    margin-top: 40px;
    color: rgb(29, 29, 29)
}

.cart-list__product:last-child {
    margin-bottom: 40px;
}

.cart-list__product:hover {
    color: #000;
    cursor: pointer;
}

.cart-list__img {
    max-width: 35%;
    margin: auto 15px;
}

.cart-list__img * {
    width: 100%;
}

.cart-list__title {
    font-weight: 600;
}

.cart-list__quantity {
    margin-top: 8px;
}

.cart-list__price {
    margin-top: 3px;
}

.cart-list__btn-delete {
    width: 150px;
    height: 35px;
    margin: 0;
    margin-top: 15px;
}

.cart-list__checkout-section {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    border-top: 1px solid #7a7a7a;
    min-height: 120px;
}


.cart-list__price-total {
    font-size: 18px;
    margin-bottom: 10px;
}


/* 4. FOOTER */

footer {
    margin-top: 4em;
    width: 100%;
    bottom: 0;
    left: 0;
    background: #111;
}

.footer {
    max-width: 100%;
    margin: 0px 35px;
    padding: 30px 10px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    color: var(--clr-white);
}

.footer__contact-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: flex-start;
    width: 100%;
}

.footer__contact {
    display: flex;
    flex-direction: column;
    text-align: flex-start;
    justify-content: center;
}

.footer__title {
    font-size: 22px;
    font-weight: 600;
    color: var(--clr-white);
    margin-bottom: 16px;
}

.footer__link {
    color: var(--clr-white);
    text-decoration: none;
}

.footer__link:hover {
    color: var(--clr-secondary);
}

.footer__list .footer__item {
    list-style-type: none;
}

.footer__icons a {
    font-size: 16px;
    height: 45px;
    width: 45px;
    display: inline-block;
    text-align: center;
    line-height: 43px;
    border-radius: 5px;
    border: 2px solid #222222;
    margin: 30px 5px 0 0;
    transition: all 0.3s ease;
    color: var(--clr-white);
}

.footer__icons a:hover {
    border-color: var(--clr-primary);
    color: var(--clr-primary);
}

i.fas {
    margin: 0px 10px;
}

.checkbox-wrap {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
    align-content: flex-start;
}

.footer__subscribe input[type="text"] {
    height: 45px;
    width: 100%;
    outline: none;
    color: var(--clr-white);
    background: var(--clr-black);
    border-radius: 5px;
    padding-left: 10px;
    font-size: 17px;
    border: 2px solid #222222;
}

.footer__subscribe input[type="submit"] {
    height: 42px;
    width: 100%;
    font-size: 18px;
    color: var(--clr-black);
    background: var(--clr-primary);
    outline: none;
    border-radius: 5px;
    letter-spacing: 1px;
    cursor: pointer;
    margin-top: 12px;
    border: 2px solid var(--clr-primary);
    transition: all 0.3s ease-in-out;
}

.footer__subscribe input[type="submit"]:hover {
    background: none;
    color: var(--clr-primary);
}

.footer__copyright {
    color: var(--clr-white);
    width: 100%;
    text-align: right;
    padding: 10px 30px 10px 10px;
}

.footer__copyright a {
    color: var(--clr-primary);
}


/* BOOTSTRAP GENERAL PERSONALIZED STYLES */

.mb-3 textarea {
    width: 100%;
}

.mb-3 label,
.m-3 label {
    font-weight: bold;
}

.hidden {
    display: none;
}